[submodule "third-party/STM32L0xx_HAL_ST"]
	path = third-party/STM32L0xx_HAL_ST
	url = https://github.com/STM32-Libraries/STM32L0xx_HAL_ST.git
[submodule "lib/display/SSD1315-1309"]
	path = lib/display/SSD1315-1309
	url = https://github.com/MarcoAAG/SSD1315-1309.git
